html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'D-DIN Bold';
    src: url('assets/fonts/D-DINbold.otf');
}

@font-face {
    font-family: 'D-DIN';
    src: url('assets/fonts/D-DIN.otf');
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    background-color: #f5f5f5;
}

#header {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/0-head.webp');
    background-size: cover;
    background-position: 18% 18%;
    opacity: 1; /* Ajusta la opacidad según tu preferencia */
    z-index: -1;
    color:#fff;
}

.head-bg {
    height:100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo negro con opacidad */
    color: #fff;
}

.slogan{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 2rem;
    margin-top: 0px;
    padding-top:6%;
    text-transform: uppercase;
    padding-left: 8%;
}

.headText{
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    padding-left: 8%;
}
.headText h1{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 7rem;
    margin: 0px;
}

.headText h2{
    font-family: 'D-DIN', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 3rem;
    margin-top: 3%;
}

.conoceme{
    font-size: 1.8rem;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    text-transform: uppercase;
    background-color: #A5241F;
    color:#fff;
    padding:2% 4%;
    border: none;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.75);
}

.conoceme:hover{
    background-color: #94221e;
}

#about{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5% 3%;
    background: rgb(123,19,15);
    background: linear-gradient(90deg, rgba(123,19,15,1) 0%, rgba(165,36,31,1) 100%);
}
#about img{
    max-height: 70vh;
    max-width:70vw;
    padding: 0% 3%;
    border-radius: 3%;
}

#about .aboutText{
    color:#fff;
    margin: 0px;
    padding: 0% 3%;
}

#about h2{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top:0px
}

#about p{
    font-family: 'D-DIN', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
}

#impact{
    flex-direction: row;
    padding: 5% 3%;
    background: black;
    color:#fff;
}

#impact h3{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin:0px;
    padding:0%;
}

#impact .impactCards{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    padding: 1% 2%;
    background-color: #94221e;
    flex-wrap: wrap;
}

.impactText{
    margin: 10px;
    background-color: rgb(113, 113, 0);
    flex:1;
    min-width: 30%;
}



.impactText h2{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 3.1rem;
    font-weight: bold;
    margin:0px;
    padding:3%;
    text-align: center;
    color: #F6C646;
}

.impactText p{
    font-family: 'D-DIN', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 1.3rem;
    max-width: 230px;
    margin: 0 auto;
    text-align: center;
}

/* .impactText .icon {
    min-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    filter: invert(100%) sepia(1%) saturate(1658%) hue-rotate(148deg) brightness(99%) contrast(98%);
} */

