html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'D-DIN Bold';
    src: url('assets/fonts/D-DINbold.otf');
}

@font-face {
    font-family: 'D-DIN';
    src: url('assets/fonts/D-DIN.otf');
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    /* background-color: #f5f5f5; */
    background-color: black;
}

#header {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/0-head.webp');
    background-size: cover;
    background-position: 18% 18%;
    opacity: 1;
    /* Ajusta la opacidad según tu preferencia */
    z-index: -1;
    color: #fff;
}

.head-bg {
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    /* Fondo negro con opacidad */
    color: #fff;
}

.slogan {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 2rem;
    margin-top: 0px;
    padding-top: 6%;
    text-transform: uppercase;
    padding-left: 8%;
}

.headText {
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    padding-left: 8%;
}

.headText h1 {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 7rem;
    margin: 0px;
}

.headText h2 {
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin-top: 3%;
}

.conoceme {
    font-size: 1.8rem;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    background-color: #A5241F;
    color: #fff;
    padding: 2% 4%;
    border: none;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.75);
}

.conoceme:hover {
    background-color: #94221e;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5% 3%;
    background: rgb(123, 19, 15);
    background: linear-gradient(90deg, rgba(123, 19, 15, 1) 0%, rgba(165, 36, 31, 1) 100%);
}

#about img {
    max-height: 70vh;
    max-width: 70vw;
    padding: 0% 3%;
    border-radius: 3%;
}

#about .aboutText {
    color: #fff;
    margin: 0px;
    padding: 0% 3%;
}

#about h2 {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0px
}

#about p {
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
}

#impact {
    position: relative;
    padding: 4% 5%;
    overflow: hidden;
}

#impact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/img/3-impact.jpg');
    background-size: 230%;
    background-position: 53% 55%;
    opacity: 0.6; /* Ajusta la opacidad según tus preferencias */
}

.impact-bg {
    position: relative;
    z-index: 1;
    color: #fff;
}

h3 {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0px;
}

#impact .impactCards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3% 2%;
    flex-wrap: wrap;
}

.impactText {
    margin: 10px;
    flex: 1;
    min-width: 30%;
}

.impactText h2 {
    font-family: 'D-DIN Bold', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0px;
    padding: 3%;
    text-align: center;
    color: #F6C646;
}

.impactText p {
    font-family: 'D-DIN', system-ui, 'Montserrat', 'Segoe UI', sans-serif;
    font-size: 1.6rem;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.impactText .icon {
    min-width: 60px;
    min-height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    filter: invert(100%) sepia(1%) saturate(1658%) hue-rotate(148deg) brightness(99%) contrast(98%);
}

#logoSlider {
    position: relative;
    padding: 4% 5%;
    overflow: hidden;
    background-color: #E9E9E9;
    white-space: nowrap;
}

#logoSlider h3{
    color:#308AC9;
    margin-bottom: 40px;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.logoSlide{
    display: inline-block;
    padding: 15px 0px;
    animation: 40s slide infinite linear;
}

.sliderFade::before,
.sliderFade::after{
    content: "";
    position:absolute;
    top: 1;
    width: 10%;
    height: 100px;
    z-index: 2;
}
.sliderFade::before{
    left: 0;
    background: rgb(233,233,233);
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(233,233,233,0) 100%);
}

.sliderFade::after{
    right: 0;
    background: rgb(233,233,233);
    background: linear-gradient(90deg, rgba(233,233,233,0) 0%, rgba(233,233,233,1) 100%);
}

.logoSlide img{
    height: 80px;
    margin: 0px 30px;
    filter: invert(0%) sepia(7%) saturate(0%) hue-rotate(189deg) brightness(100%) contrast(55%);
}