html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'D-DIN Bold';
    src: url('assets/fonts/D-DINbold.otf');
}

@font-face {
    font-family: 'D-DIN';
    src: url('assets/fonts/D-DIN.otf');
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    background-color: #f5f5f5;
}

#header{
    height:100vh;
    background-image: url('assets/img/0-head.webp');
    background-size: 120%;
    background-position: 18% 18%;;
    color:#fff;
}

.slogan{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 2rem;
    margin-top: 0px;
    padding-top:6%;
    text-transform: uppercase;
    padding-left: 8%;
}

.headText{
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    padding-left: 8%;
}
.headText h1{
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 7rem;
    margin: 0px;
}

.headText h3{
    font-family: 'D-DIN', system-ui, 'Montserrat','Segoe UI', sans-serif;
    font-size: 3rem;
    margin-top: 3%;
}

.conoceme{
    font-size: 1.8rem;
    font-family: 'D-DIN Bold', system-ui, 'Montserrat','Segoe UI', sans-serif;
    text-transform: uppercase;
    background-color: #A5241F;
    color:#fff;
    padding:2% 4%;
    border: none;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.75);
}

.conoceme:hover{
    background-color: #94221e;
}